html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial", "Helvetica", serif;
}

body {
    background: black url("./img/background.jpg") center center no-repeat;
    color: #E8E8E8;
}

p.footer {
    position: absolute;
    bottom: 1em;
    right: 1em;
    margin: 0;
    padding: 0;
    font-size: 0.90em;
    color: #CCC;
}

p.accbox {
    position: absolute;
    top: 1em;
    right: 1em;
    margin: 0;
    padding: 0;
    font-size: 0.90em;
    color: #DDD;
}

form input[type="text"] {
    background-color: #111;
    color: #DDD;
    border: 1px solid #CFD;
    padding: 0.2em;
}

form input[type="submit"] {
    background-color: #181818;
    color: #DDD;
    border: 2px outset #CFD;
}

form input[type="text"]:focus {
    border-color: #FF0;
}

form input[type="submit"]:active {
    border: 2px inset #FF0;
}

ul {
    list-style-type: square;
}

a, a:visited {
    color: #CFD;
}

a:hover {
    color: #FFF;
}

p.login_help {
    font-size: 0.9em;
    text-align: center;
}

p.error {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: red;
    border: 1px solid red;
    padding: 1em;
}

p.warning {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: yellow;
    border: 1px solid yellow;
    padding: 1em;
}

p.success {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #8F8;
    border: 1px solid #8F8;
    padding: 1em;
}

table {
    border-collapse: collapse;
}

table > thead > tr {
    border-bottom: 1px solid #CFC;
}

table > thead > tr > th {
    border-left: 1px solid #DFD;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.2em;
}

table > thead > tr > th:first-child {
    border-left: none;
}

table > tbody > tr > td {
    border-left: 1px dotted #888;
}

table > tbody > tr > td:first-child {
    border-left: none;
}

table > tbody > tr > td, table > tbody > tr > th {
    border-top: 1px dotted #888;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

table > tbody > tr:first-child > td, table > tbody > tr:first-child > td {
    border-top: none;
}

table.apikeys {
    width: 100%;
}

.api_help {
    font-size: 0.9em;
}

td.key_valid, td.full.access {
    color: #8F8;
}

td.key_invalid, td.no.access {
    color: red;
}

td.partial.access {
    color: #FADA5E;
}

td.access {
    font-size: 0.9em;
}

td.access > strong {
    color: #DDD;
}

td.access > input[type="submit"] {
    border: none;
    color: #CFD;
    background-color: transparent;
    text-decoration: underline;
    font-size: 0.7em;
}

td.access > input[type="submit"]:hover {
    color: #FFF;
    cursor: pointer;
}

table.feature_table > thead > tr > th > code {
    font-weight: normal;
    font-size: 0.9em;
}

hr {
    display: block;
    border: none;
    height: 1px;
    color: #C8C8C8;
    background-color: #C8C8C8;
    margin-top: 2em;
    margin-bottom: 2em;
}

form.inline {
    display: inline;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
