html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Arial", "Helvetica", serif;
}

body {
    background: black url("./img/background.jpg") center center;
    color: #E8E8E8;
}

p.footer {
    position: absolute;
    bottom: 1em;
    right: 3em;
    margin: 0;
    padding: 0;
    font-size: 0.70em;
}

p.footer, p.footer a, p.footer > a {
    color: #888 !important;
}

form input[type="text"] {
    background-color: #111;
    color: #DDD;
    border: 1px solid rgb(134, 194, 248);
    padding: 0.2em;
}

form input[type="submit"] {
    background-color: #181818;
    color: #DDD;
    border: 2px outset rgb(134, 194, 248);
}

form input[type="text"]:focus {
    border-color: #FF0;
}

form input[type="submit"]:active {
    border: 2px inset #FF0;
}

ul {
    list-style-type: square;
}

a, a:visited {
    color: rgb(134, 194, 248);
}

a:hover {
    color: #FFF;
}

p.login_help {
    font-size: 0.9em;
    text-align: center;
}

p.error {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: red;
    border: 1px solid red;
    padding: 1em;
}

p.warning {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: yellow;
    border: 1px solid yellow;
    padding: 1em;
}

p.success {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #8F8;
    border: 1px solid #8F8;
    padding: 1em;
}

table {
    border-collapse: collapse;
}

table > thead > tr {
    border-bottom: 1px solid rgba(80, 80, 80, 0.4);
}

table > thead > tr > th {
    border-left: 1px solid rgba(80, 80, 80, 0.4);
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.2em;
}

table > thead > tr > th:first-child {
    border-left: none;
}

table > tbody > tr > td {
    border-left: 1px solid rgba(80, 80, 80, 0.4);
}

table > tbody > tr > td:first-child {
    border-left: none;
}

table > tbody > tr > td, table > tbody > tr > th {
    border-top: 1px solid rgba(80, 80, 80, 0.4);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

table > tbody > tr:first-child > td, table > tbody > tr:first-child > td {
    border-top: none;
}

table.apikeys {
    width: 100%;
}

.api_help {
    font-size: 0.9em;
}

td.key_valid, td.full.access {
    color: #8F8;
}

td.key_invalid, td.no.access {
    color: red;
}

td.partial.access {
    color: #FADA5E;
}

td.access {
    font-size: 0.9em;
}

td.access > strong {
    color: #DDD;
}

td.access > input[type="submit"] {
    border: none;
    color: #CFD;
    background-color: transparent;
    text-decoration: underline;
    font-size: 0.7em;
}

td.access > input[type="submit"]:hover {
    color: #FFF;
    cursor: pointer;
}

table.feature_table > thead > tr > th > code {
    font-weight: normal;
    font-size: 0.9em;
}

hr {
    display: block;
    border: none;
    height: 1px;
    color: #C8C8C8;
    background-color: #C8C8C8;
    margin-top: 2em;
    margin-bottom: 2em;
}

form.inline {
    display: inline;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

div#side {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 150px;
    border-right: 1px solid #777;
    background-color: rgba(0, 0, 0, 0.5);
}

div#content {
    position: fixed;
    left: 150px;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1em;
    overflow: auto;
}

div#side > h1.curchar {
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    position: relative;
    background-size: 100%;
}

div#side > h1.curchar > span {
    font-size: 0.6em;
    position: absolute;
    display: block;
    text-align: left;
    top: -1.25em;
    width: 100%;
    height: 1.25em;
    line-height: 1.25em;
    background-color: rgb(12, 12, 12);
    font-variant: small-caps;

    -moz-transform:rotate(270deg); 
    -moz-transform-origin: bottom right;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: bottom right;
    -o-transform: rotate(270deg);
    -o-transform-origin: bottom right;

}

div#side > ul {
    margin: 0;
    padding: 0;
    margin-top: 0.1em;
    margin-bottom: 3.9em;
    border-bottom: 1px solid #484848;
    list-style-type: none;
}

div#side > ul > li {
    margin: 0;
    padding: 0;
    border-top: 1px solid #484848;
}

div#side > ul > li {
    position: relative;
}

div#side > ul > li > a {
    display: block;
    height: 3em;
    line-height: 3em;
    padding: 0.2em;
    padding-left: 0.4em;
    color: #FFF;
    text-decoration: none;
    font-size: 0.8em;
}

div#side > ul > li > a.current {
    background-color: rgba(40, 40, 40, 0.6);
}

div#side > ul > li > a:hover {
    background-color: rgba(80, 80, 80, 0.5);
}

div#side > ul > li > a > img {
    height: 3em;
    width: 3em;
    position: absolute;
    right: 0.2em;
}

form.login {
    width: 27em;
    padding: 1em;
    padding-top: 0;
    display: block;
    margin: auto;
    border: 1px solid rgb(134, 194, 248);
    background-color: rgba(0, 0, 0, 0.5);
}